@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/*Poner align-items en el buscador, los pone en el centro verticalmente*/
/* ------ Colores ------ */

:root {
    --bg-color: hsl(0, 0%, 100%);
    --bg-color-2: hsl(87, 100%, 67%);
    --bg-color-3: hsl(120, 100%, 50%);
    --button: hsl(87, 54%, 51%);
    --text-color-1: hsl(0, 0%, 0%);
    --text-color-2: rgb(53, 168, 53);
    --font-2: "Poppins", sans-serif;
}

/* ------ General ------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "DM Sans", sans-serif;
    margin: 50px;
}

::selection {
    background-color: hsla(120, 100%, 50%, 0.9);
    color: black;
}

.a {
    text-decoration: none;
}

.ul {
    align-items: flex-start;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    
}

/* ------ Código CSS reutilizable ------ */


.container {
    justify-content:left;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    position: relative;
    padding: 0 4rem;
    margin: 0 auto;
}


/* ------ Navbar ------ */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 0.5rem solid rgb(255, 255, 255);
}

.links {
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    font-size: 2.5rem;
    color: #3b4849;
    transition: 0.3s;
}

.boton {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    font-size: 2rem;
    letter-spacing: .5px;
    color: var(--text-color-1);
    background-color: var(--button);
    border-radius: 150px;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    transition: 0.3s;
    font-family: var(--font-2);
    font-size: 1.2rem;
    color: white;
}

.boton:hover {
    color: black;
    background-color: var(--bg-color-3);
}

.nav_link:hover {
    color: var(--text-color-2);
    
}

.search {
    position: relative;
    padding: 5px;
}

.search input {
    width: 300px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 2px solid silver;
    border-radius: 30px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    background-color: var(--button);
}

.fa-magnifying-glass:hover {
    color: black;
    background-color: var(--bg-color-3);
}

/* ------ Próximamente: Quilombo de líneas :D ------ */

hr {
    position: absolute;
    display: flex;
    width: 72rem;
}

.hr1 {
    margin-top: 10%;
    position: static;
    margin-left: -52rem;
    width: 56rem;
}

.hr2 {
    position: static;
}

/* ------ Carousel ------ */

main {
    margin: 0 7rem;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "carousel carousel" "foto1 foto2";
}

.carousel {
    display: flex;
    grid-area: carousel;
    margin: 0 0 1rem 0;
    padding: 0 0;
    max-width: 100rem;
    justify-self: center;
}

/*
.colitojrjr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: grid;
    grid-template-columns: 72rem;
    margin: -3.5rem 7rem 0 7rem;
    z-index: 10;
}
*/

/* ------ Fijos (se llama así xq no sé qué nombre ponerle) ------ */
/*
.container2 {
    position: static;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0rem;
    margin: -0rem 5%;
}
*/

.foto1 {
    display: flex;
    grid-area: foto1;
    justify-content: left;
}

.foto2 {
    display: flex;
    grid-area: foto2;
    justify-content: right;
}