@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --bg-color: hsl(0, 0%, 100%);
    --bg-color-2: hsl(87, 100%, 67%);
    --bg-color-3: hsl(120, 100%, 50%);
    --button: hsl(87, 54%, 51%);
    --text-color-1: hsl(0, 0%, 0%);
    --text-color-2: rgb(53, 168, 53);
    --font-2: "Poppins", sans-serif;
}

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: hsla(120, 100%, 50%, 0.9);
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: .2em 0;
    height: 3px;
    background-color: gray;
    border-radius: 3px;
}

body {
    margin-top: 1em;
    font-family: 'DM Sans', sans-serif;
}

button {
    background-color: white;
    border: none;
}

.button {
    padding: .4em 1em;
    background-color: var(--button);
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 1em;
    text-align: center;
}

.button:hover {
    box-shadow: 5px solid var(--bg-color-3);
}

input {
    padding: .5em .9em;
    font-size: 1em;
    color: grey;
    border: 1px solid grey;
    border-radius: 1.5em;
}

.container {
    width: 85%;
    max-width: 1400px;
    margin: auto;
}

/* Header */

.header .logo {   
    z-index: 100;
    background-image: url(/assets/media/logo.png);
    width: 6.5em;
    height: 6.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    border-radius: 80px;
    margin-right: 2.2em;
    margin-bottom: -1.5em;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between; /*Los elementos se disponen con un espacio de por medio*/
    align-items: center; /* Los elementos se centran */
}

.navigation ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center ;
}

    .navigation ul li {
        display: inline-flex;
        justify-content: space-between;
    }

.menu {
    font-size: 20px;
}

.bars, .glass {
    display: none;	
}

.fa-solid {
    font-size: 30px;
    padding: 0 .2em;
}

/* Slider --> youtube.com/watch?v=bkgnp2lp7FQ&t=303s*/

.img-slide {
    width: 100%;
}

.slider-frame {
	width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%; /*Depende de la cantidad de sliders que haya, como hay tres es un 300%*/
	animation: slide 5s infinite ease-in-out;
    animation-direction:normal;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

@media screen and (max-width: 1024px) {
    /* Header */
    .bars, .glass {
        display: inline-block;
    }
    .menu, .search, .ingresar {
        display: none;
        visibility: hidden;
    }
}